<section class="about-us">
  <div class="container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>О нас</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Мы - компания, специализирующаяся на аренде автомобилей на длительный срок.
          Наша цель - предоставить клиентам надежные и комфортные автомобили для долгосрочной аренды.
        </p>
        <p>
          Мы предлагаем широкий выбор автомобилей разных марок и моделей, которые проходят регулярное
          обслуживание и проверку перед каждой арендой. Мы гарантируем, что наши автомобили находятся в хорошем
          состоянии и готовы к использованию.
        </p>
        <p>
          Наша команда опытных и дружелюбных сотрудников всегда готова помочь вам выбрать автомобиль,
          подходящий именно вам. Мы предлагаем гибкие условия аренды, а также различные пакеты и скидки для наших
          постоянных клиентов.
        </p>
        <p>
          Если вы ищете надежную компанию для аренды автомобилей на длительный срок, обратитесь к нам.
          Мы с удовольствием поможем вам сделать правильный выбор и обеспечим вас качественным автомобилем
          для ваших потребностей.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</section>
