<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="oneSpacer"></span>
    <span routerLink="/">HOME</span>
    <span class="twoSpacer"></span>
    <a mat-button routerLink="/signUp">О нас</a>
    <a mat-button routerLink="/signIn">Контакты</a>
    <a mat-button routerLink="/signUp">Условия аренды</a>
    <span class="threeSpacer"></span>
    <a mat-button routerLink="/signUp">Регистрация</a>
    /
    <a mat-button routerLink="/signIn">Вход</a>
  </mat-toolbar-row>
</mat-toolbar>
