 <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="logo">
        <a mat-button routerLink="/">HOME</a>
      </div>
      <div class="links">
        <a mat-button routerLink="/main-page">Аренда авто</a>
        <a mat-button routerLink="/about-us">О нас</a>
        <a mat-button routerLink="/contact">Контакты</a>
        <a mat-button routerLink="/rental-conditions">Условия аренды</a>
      </div>
      <div class="auth">
        <a mat-button routerLink="/signUp">Регистрация</a>
        /
        <a mat-button routerLink="/signIn">Вход</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

