<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="oneSpacer"></span>
    <span routerLink="/">HOME</span>
    <span class="twoSpacer"></span>
    <div class="navigate">
      <a mat-button routerLink="/">Аренда авто</a>
      <a mat-button routerLink="/about-us">О нас</a>
      <a mat-button routerLink="/contact">Контакты</a>
      <a mat-button routerLink="/rental-conditions">Условия аренды</a>
    </div>
    <span class="threeSpacer"></span>
    <a mat-button routerLink="/signUp">Регистрация</a>
    /
    <a mat-button routerLink="/signIn">Вход</a>
  </mat-toolbar-row>
</mat-toolbar>
<hr>
