.oneSpacer{
  margin-left: 20%;
}
.twoSpacer {
  margin-left: 13%;
}
.threeSpacer{
  margin-left: 13%;
}
span:hover{
  cursor: pointer;
}
.mat-toolbar.mat-primary{
  color: black;
  background: white;
}
.mat-mdc-button.mat-unthemed {
  font-size: 15px;
}
.navBar{
  background: white;
}

