<div class="contact-component">
  <div class="heading">
    <h2>Контакты</h2>
  </div>
  <div class="contact">
   <div class="description">
      <h3>
        <img width="20" height="20" ngSrc="https://img.icons8.com/ios/50/marker--v1.png" alt="marker--v1"/>
        &nbsp;&nbsp;Адрес офиса: город Киров, Московская улица, дом 39.
      </h3>
      <h3>
        <img width="20" height="20" ngSrc="https://img.icons8.com/ios/50/clock--v3.png" alt="clock--v3"/>
        &nbsp;&nbsp;Режим работы: пн-вс (7:00-22:00)
      </h3>
      <h3>
        <img width="20" height="20" ngSrc="https://img.icons8.com/ios/50/phone--v1.png"  alt="phone--v1"/>
        &nbsp;&nbsp;Контактный телефон:<a href="tel:+7 (8332) 99-99-99"> +7 (8332) 99-99-99</a>
      </h3>
     <h3>
       <img width="20" height="20" ngSrc="https://img.icons8.com/ios/50/new-post.png" alt="new-post"/>
       &nbsp;&nbsp;Адрес электронной почты: <a href="mailto:RentCarKirov@gmail.com"> RentCarKirov@gmail.com</a>
     </h3>
    </div>
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa24558ed7804b708896a302eb1dff556eeb27a3bbbac843208e171ca347f5fad&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
  </div>
</div>

