<div class="all-car">
  <div class="header-all-cars">
    <h2>Автомобили</h2>
    <button mat-raised-button color="primary" (click)="loadAll()">{{allCars}}</button>
  </div>
  <div class="cards-container">
    <mat-card class="car-card" *ngFor="let car of visibleCars">
      <mat-card-header>
        <mat-card-title>{{car.NameBrand}} {{car.NameCar}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img alt="image" [src]="car.ImgCar" height="150" width="200">
      </mat-card-content>
      <mat-card-footer>
        <div style="display: flex">
          <img width="25" height="25" ngSrc="https://img.icons8.com/ios/50/standing-man.png" alt="standing-man"/>
          <p>{{car.CountOfSeats}}</p>
        </div>
        <div style="display: flex">
        <img width="25" height="25" ngSrc="https://img.icons8.com/windows/32/gearbox.png" alt="gearbox"/>
        <p> {{car.TransmissionType}}</p>
        </div>
        <div style="display: flex">
        <img width="25" height="25" ngSrc="https://img.icons8.com/ios/50/ruble.png" alt="ruble"/>
        <p>{{car.PriceCarDay}} ₽</p>
        </div>
      </mat-card-footer>
      <button mat-raised-button color="primary" (click)="openRentCarDialog(car.Id)">Арендовать</button>
    </mat-card>
  </div>

</div>

<div class="more-button">
  <button mat-raised-button color="primary" (click)="loadMore()" *ngIf="loadMoreButton">Показать ещё</button>
</div>

