<section class="rental-conditions">
  <div class="container">
    <mat-card>
        <div class="container">
          <h1>ПЕРЕДЕЛАТЬ ТЕКСТ!!!!!!</h1>
          <h1>Основные условия </h1>
          <ul>
            <li>Возраст арендатора не менее 23-х лет</li>
            <li>Возраст арендатора 25 лет (для категории бизнес класса)</li>
            <li>Стаж вождения не менее 3-х лет (для аренды эконом класса и аренды автомобилей среднего класса)</li>
            <li>водительское удостоверение</li>
            <li>паспорт гражданина РФ.</li>
            <li>
              Если арендатор не является Гражданином РФ, необходимо иметь нотариально заверенный перевод паспорта и водительского удостоверения.
            </li>
            <li>
              Для оформления договора аренды на юридическое лицо необходимо предоставить учётную карточку организации, доверенность от организации
              на заключение договоров с правом подписи и получения материальных ценностей.
            </li>
          </ul>

          <h2>Бронирование</h2>
          <p>
            Чтобы гарантированно получить в прокат машину необходимой модели, лучше всего забронировать автомобиль заранее,
            по телефону +7 (8332) 99-99-99 или непосредственно на сайте.
          </p>
          <p>
            Для бронирования авто вам нужно:
          </p>
          <ul>
            <li>выбрать в нашем каталоге автомобиль</li>
            <li>указать срок аренды и свои пожелания</li>
            <li>наш сотрудник примет заявку и ответит на все интересующие вопросы.</li>
          </ul>
          <h2>Тарифы на прокат машин</h2>
          <p>
            Установленная стоимость аренды является полной, без дополнительных платежей и комиссий. Тариф включает
            в себя полную и конечную цену проката машины.
          </p>
          <p>
            Дополнительно обращаем Ваше внимание на то, что аренда автомобилей без водителя не включает в себя стоимость
            бензина, оплату платных парковок или штрафов ДПС. Ответственность за нарушения правил дорожного движения лежит
            на арендаторе и не может быть включена в расчет оплаты. По Москве и МО пробег без ограничений, лимит на
            автомобиля за пределами МО— 250 км в сутки на весь период аренды, превышение - для автомобилей эконом-
            класса, 8 руб./км, для автомобилей среднего и бизнес-класса - превышение 10 и 12 руб./км.
          </p>


          <h2>Сроки</h2>
          <p>
            Минимальный срок аренды автомобиля 2-е суток, тариф "свыше 30 дней" действует только при единовременной
            оплате указанного в тарифной сетке срока. Время аренды рассчитывается посуточно, с момента получения машины.
            Если произошла задержка возврата на время от 2-го до 5-ти часов оплачивается 0,5 суток проката автомобиля. Если
            время задержки возврата больше 5-ти часов - оплачиваются целые сутки. Если машина возвращается раньше срока,
            указанного в договоре, производится перерасчёт оплаты аренды автомобиля согласно действующим тарифам.
          </p>

          <h2>Оплата проката машины</h2>
          <p>
            Авто напрокат выдаётся клиенту при 100% оплате стоимости аренды в рублях. Расчет осуществляется по тарифам,
            действующим в компании.Кроме того, арендатор должен внести залог в размере от 7000 рублей(в зависимости от а/м) ,
            который является гарантией соблюдения условий договора аренды. Залог возвращается после возврата машины. За автомобили
            бизнес-класса сумма залога составит от 15 000 рублей. Оплатить аренду автомобиля, внести залоговый депозит возможно наличными,
            банковским переводом на реквизиты компании, а так же с помощью банковских карт. Продление договора аренды возможно вне офиса с
            доставкой документов(доверенность, приложение к договору) в пределах МКАД в рабочее время с 10-00 до 19-00. Стоимость услуги 600
            рублей. В случае просрочки передачи Арендатором автомобиля более чем на два часа, Арендатор уплачивает Арен
          </p>
        </div>
    </mat-card>
  </div>
</section>
