<div class="rental-conditions">
  <br><br> ПРОБЕГ АВТОМОБИЛЯ
  <br>
  <br>
  Средний ежесуточный пробег автомобиля составляет 300 км.
  При превышении указанного ежесуточного пробега взымается
  дополнительная плата в размере от 8 рублей/за 1 км перепробега.
  Тариф без ограниения пробега действует при сроке аренды от 3 дней.
  Доплата за отсутствие ограничения по пробегу составляет +50% от тарифа с ограничениями.
<br>
  <br>
  ОПЛАТА АРЕНДЫ
  <br><br>
  Оплата за аренду автомобиля вносится сразу за весь срок аренды.
  Любые формы оплаты: наличный и безналичный расчет.
  <br><br>
  ЗАЛОГ ЗА АВТОМОБИЛЬ
  <br><br>
  Залог за автомобиль составляет от 1 000 ₽ в заивисимости от выбранного
  вами автомобиля и направления поездки. Залог необходим для соблюдения
  условий договора аренды/проката автомобиля. 50% залога возвращается при
  сдаче автомобиля, оставшуюся сумму клиент получает по истечению 10 дней
  после проверки наличия штрафов в ГИБДД.
</div>

